/* 
https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Box_model
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ 

MDN:
To use the alternative box model for all of your elements (which is a common choice among developers), 
set the box-sizing property on the <html> element and set all other elements to inherit that value:
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkslategrey;
    color: antiquewhite;
    font-family: oblique, Arial;
    font-size: 18px;
}

/* Main container for all pages */
.container {
    max-width: 800px;
    margin: 30px auto;
    padding-bottom: 30px;
}

h1,
h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 20px;
    background-color: antiquewhite;
    color: darkslategrey;
}

h3 {
    margin-top: 20px;
    text-transform: uppercase;
}

img {
    max-width: 800px;
    margin-top: 30px;
}

.credit {
    font-size: 12px;
}

.credit a {
    color: inherit;
}

/* Container for the list of recipes */
.recipes-container {
    max-width: 250px;
    margin: 30px auto;
}

.recipes-container li {
    margin: 5px;
}

/* Link to a recipe */
.recipes-list a {
    color: inherit;
}

.description p {
    padding: 10px 20px;
}

.ingredients ul {
    padding: 10px 20px;
}

.ingredients li {
    margin-top: 5px;
}

.steps ol {
    padding: 10px 20px;
}

.steps li {
    margin-top: 5px;
}

.home-link {
    display: inline-block;
    background-color: antiquewhite;
    color: darkslategrey;
    font-weight: bolder;
    padding: 10px 20px;
    margin-top: 20px;
}